.description-box {
	background-color: rgba(0, 0, 0, 0.3);
	color: white;
}

.yellow-button {
	background-color: #f2a8299d;
	color: white;
	font-size: x-large;
	border: 0;
}

.green-button {
	background-color: #2dbbb48e;
	color: white;
	font-size: x-large;
	border: 0;
}
